.card-img-top {
  height: 200px;
  object-fit: cover;
}

footer {
  background-color: #222;
  padding: 20px 0;
}
body {
  background-color: #000000;
  color: #eaeaea;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
